__pycache__
*.pyc
*.egg*
.pybuild
debian/.debhelper/
debian/changelog
debian/debhelper-build-stamp
debian/files
debian/*.debhelper
debian/*.substvars
debian/pgp-clean-room/
debian/pgpcr-utils/
debian/python3-pgpcr/
po/POTFILES.in
po/*/LC_MESSAGES/*.mo
tests/data/signing/done
build/
