[Unit]
Description=PGP Clean Room
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
User=pgp
Type=simple
ExecStart=/usr/bin/pgp-clean-room
TTYPath=/dev/tty1
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
Environment=GPGME_DEBUG=9:/home/pgp/gpgme.log

[Install]
WantedBy=multi-user.target
